"*":
  "atom-alignment": {}
  "atom-beautify":
    general:
      _analyticsUserId: "016e9f8c-043c-4df4-b21b-8532dd9d8856"
  "atom-color-highlight": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=node_modules --exclude=bower_components"
  "atom-material-ui":
    compactTreeView: true
    depth: true
    panelContrast: true
    rippleAccentColor: true
    slimScrollbar: true
    themeSyle: "Lighter"
  "atom-ternjs":
    excludeLowerPriorityProviders: true
    guess: false
    inlineFnCompletion: false
    lint: false
    snippetsFirst: true
    useSnippets: true
  "auto-update-packages":
    intervalMinutes: 60
  "autocomplete-bibtex": {}
  "autocomplete-clang":
    preCompiledHeaders: {}
    std: {}
  "autocomplete-emojis":
    fileWhitelist: "*.md, *.swift, *.jl"
  "autocomplete-plus":
    autoActivationDelay: 200
    backspaceTriggersAutocomplete: true
    enableBuiltinProvider: false
    enableExtendedUnicodeSupport: true
    fileBlacklist: [
      "*.md"
      "*.json"
      "*.txt"
    ]
    includeCompletionsFromAllBuffers: true
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  "clipboard-plus":
    useVimModePlus: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    audioBeep: false
    disabledPackages: [
      "feedback"
      "save-session"
      "file-type-icons"
      "autocomplete-bibtex"
      "wrap-guide"
      "tabs"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".sass_cache"
    ]
    packagesWithKeymapsDisabled: [
      "dash"
    ]
    projectHome: "/Users/Felix/Development"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom-inset"
  "cursor-history":
    excludeClosedBuffer: true
  "dark-mode":
    ambientLight: true
    ambientLightThreshold: 9000000
    darkProfile: "pristine-ui one-dark-syntax"
  docblockr: {}
  editor:
    fontFamily: "FuraCode Nerd Font"
    invisibles:
      space: "•"
      tab: "›"
    lineHeight: 1.3
    showInvisibles: true
    useHardwareAcceleration: true
  "exception-reporting":
    userId: "7652af63-0a80-ab67-85f4-9d3eebd7294e"
  "file-icons":
    tabPaneIcon: false
  "filetype-color":
    enabled: "false"
  "flex-tool-bar": {}
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideFiles: false
      hideTabs: false
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-diff": {}
  "ide-flowtype": {}
  "imdone-atom":
    excludeVcsIgnoredPaths: true
    maxFilesPrompt: 1000
    showTagsInline: true
  "jscs-fixer":
    defaultPreset: "airbnb"
  linter:
    clearOnChange: true
    showInfoMessages: true
  "linter-csslint":
    csslintExecutablePath: "/usr/local/bin/csslint"
  "linter-jscs":
    esnext: true
    executablePath: "/usr/local/bin/jscs"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy5"
  "linter-ui-default":
    panelHeight: 300
    showProviderName: true
    statusBarRepresents: "Current File"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
    siteEngine: "jekyll"
    siteLocalDir: "~/development/felixjung.io"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  metrics:
    userId: "62e806a948537de01b816d7735025a087eddc82a"
  minimap: {}
  "multi-wrap-guide":
    locked: true
    silent: true
  narrow:
    notifiedVimModePlusSpecificDefaultKeymap: true
  "one-dark-ui":
    fontSize: 14
  "one-light-ui": {}
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      semi: false
      singleQuote: true
    useEslint: true
  "pristine-ui": {}
  "repl-term":
    focusTerminal: true
  sassbeautify:
    indent: 2
    path: '''
      /usr/local/bin:/usr/local/sbin:/usr/local/git/bin:/usr/texbin:/Users/Felix/.rvm/gems/ruby-2.1.0/bin:/Users/Felix/.rvm/gems/ruby-2.1.0@global/bin:/Users/Felix/.rvm/rubies/ruby-2.1.0/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/Felix/.rvm/bin:/Users/Felix/.rvm/bin
      
    '''
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    clearMultipleCursorsOnEscapeInsertMode: true
    sequentialPaste: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    statusBarModeStringStyle: "long"
    stayOnDelete: true
    stayOnTransformString: false
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround":
    surroundKey: "S"
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".basic.html.text":
  editor:
    showInvisibles: true
".bibtex.text":
  editor:
    preferredLineLength: 100
".console.python.text":
  editor:
    tabLength: 4
".css.less.source":
  editor:
    preferredLineLength: 90
  "multi-wrap-guide":
    columns: [
      90
    ]
".css.scss.source":
  "go-plus":
    goInstallation: "/usr/local/opt/go/libexec/bin"
    goPath: "~/Development/Go"
  "multi-wrap-guide":
    columns: [
      120
    ]
".gfm.source":
  editor:
    preferredLineLength: 75
    softWrap: true
  "multi-wrap-guide":
    columns: [
      75
    ]
  "wrap-guide":
    enabled: false
".gfm.source .code":
  softWrap: false
".git-commit.text":
  editor:
    preferredLineLength: 72
  "multi-wrap-guide":
    columns: [
      72
    ]
".haml.text":
  "wrap-guide":
    enabled: false
".html.source":
  editor:
    showIndentGuide: false
    softWrap: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 80
    softWrapAtPreferredLineLength: true
  "multi-wrap-guide":
    columns: [
      80
    ]
  "wrap-guide":
    enabled: false
".julia.source":
  editor:
    preferredLineLength: 100
    scrollPastEnd: true
    softWrap: false
    tabLength: 2
".null-grammar.plain.text":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
    ]
".python.regexp.source":
  editor:
    preferredLineLength: 80
".python.source":
  editor:
    preferredLineLength: 80
    showInvisibles: true
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".source.ts":
  editor:
    autoIndentOnPaste: true
