# Modifications for easy pane switching in vim mode
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'

  # Surround mode in vim-mode-plus
'atom-text-editor.vim-mode-plus.normal-mode':
  'y s': 'vim-mode-plus:surround'

# Exit insert mode in vim-mode when autocomplete-plus is open
'.autocomplete-plus input.hidden-input':
  'escape': 'vim-mode-plus:activate-command-mode'

# Vim-mode bindings for clipboard plus
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-p': 'clipboard-plus:toggle'

# Toggle find panes
'.platform-darwin':
  'cmd-F': 'project-find:toggle'
  'cmd-f': 'find-and-replace:toggle'
