# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Contact information':
    'prefix': 'cinfo'
    'body': """
      $1: {
        email: \'$2\',
        url: \'$3\',
        phone: \'$4\',
        businessHours: {
          default: [\'$5\', \'$6\']
        }
      }${7:,}
    """
    
  'Business hours':
    'prefix': 'bh'
    'body': """
      businessHours: {
        ${1:saturday: [\'$2\', \'$3\'],
        }default: [\'$4\', \'$5\']
      }$6
    """
