{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if command -v /opt/homebrew/bin/brew 2>&1 >/dev/null
then
  echo "Updating Homebrew..."
  /opt/homebrew/bin/brew update
else
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
# Taps
{{ range .packages.taps -}}
{{ if has "darwin" .platform -}}
tap {{ .name | quote }}
{{ end -}}
{{ end -}}

# Brews
{{ range .packages.brews -}}
{{ if and (has "darwin" .platform) (or (not (hasKey . "context")) (has $.machine_type .context)) -}}
brew {{ .name | quote }}
{{ end -}}
{{ end -}}

# Casks
{{ range .packages.casks -}}
{{ if and (has "darwin" .platform) (or (not (hasKey . "context")) (has $.machine_type .context)) -}}
cask {{ .name | quote }}
{{ end -}}
{{ end -}}

# Mac AppStore apps
{{ range .packages.mas -}}
{{ if has "darwin" .platform -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
