{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if command -v brew 2>&1 >/dev/null
then
	echo "Updating Homebrew..."
	brew update
else
	echo "Installing Homebrew..."
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

/opt/homebrew/bin/brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
# Brews
brew {{ . | quote }}
{{ end -}}
{{ if eq .machine_type "work" -}}
{{ range .packages.darwin.work_brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

# Casks
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if eq .machine_type "work" -}}
{{ range .packages.darwin.work_casks -}}
cask {{ . | quote }}
{{ end -}}

# Mac AppStore apps
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
