{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
# Brews
brew {{ . | quote }}
{{ end -}}

# Casks
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

# Mac AppStore apps
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
