set -Ux XDG_CONFIG_HOME "$HOME/.config"

set -U EDITOR nvim

set -U LANG en_US.UTF-8

# Used for user binaries, for example by Python's uv package manager.
fish_add_path "$HOME/.local/bin"

{{ if eq .machine_type "work" -}}
set -U GITHUB_ACCESS_TOKEN "op://SumUp/GitHub Personal Access Token/token"
{{ else -}}
set -U GITHUB_ACCESS_TOKEN "op://Private/GitHub PAT/token"
{{ end -}}
