{{ if eq .machine_type "work" -}}
set -U SUMUP_GITHUB_NPM_REGISTRY "op://SumUp/NPM Registry GitHub Personal Access Token/token"
set -U NPM_ACCESS_TOKEN "op://SumUp/npm Access Token/token"
{{ else -}}
set -U NPM_ACCESS_TOKEN "op://Private/GitHub PAT/token"
{{ end -}}

alias npm="op run -- npm"
