{{ if eq .machine_type "work" -}}
set -gx SUMUP_GITHUB_NPM_REGISTRY "op://SumUp/NPM Registry GitHub Personal Access Token/token"
set -gx NPM_ACCESS_TOKEN "op://SumUp/npm Access Token/token"
{{ else -}}
set -gx NPM_ACCESS_TOKEN "op://Private/GitHub PAT/token"
{{ end -}}

alias npm="op run -- npm"

# pnpm
set -gx PNPM_HOME "$HOME/Library/pnpm"
if not contains -- "$PNPM_HOME" $PATH
    fish_add_path "$PNPM_HOME"
end
# pnpm end
