[core]
  editor = nvim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[push]
  default = simple
[mergetool]
  keepBackup = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	latest-commits = log -5 --pretty --oneline
	list-branches = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	tree = log --all --graph --decorate --oneline --simplify-by-decoration
	stats = shortlog -sn
	sync = remote update --prune
