{{ $email := promptString "email" -}}
{{ $full_name := promptString "Full name" -}}
{{ $dev_folder := promptString "Dev Folder" -}}

git:
    autoPush: true

data:
    email: {{ $email | quote }}
    full_name: {{$full_name | quote}}
    dev_folder: {{$dev_folder | quote}}

