".config/zsh/oh-my-zsh":
    type: "archive"
    url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact: true
    stripComponents: 1
    refreshPeriod: 168h
".config/zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting":
    type: "archive"
    url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact: true
    stripComponents: 1
    refreshPeriod: "168h"
".config/zsh/oh-my-zsh/custom/themes/spaceship-prompt":
    type: "archive"
    url: "https://github.com/spaceship-prompt/spaceship-prompt/archive/refs/tags/v4.14.0.tar.gz"
    exact: true
    stripComponents: 1
".config/tmux/plugins/tpm":
    type: "archive"
    url: "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact: true
    stripComponents: 1
