.DS_Store
*.log
.netrwhist
.tags
atom/storage/*
atom/packages/*
atom/compile-cache/*
atom/packages/*
atom/.apm/*
atom/atom.symlink/storage/*
atom/atom.symlink/blob-store/*
atom/atom.symlink/packages/*
atom/atom.symlink/compile-cache/*
atom/atom.symlink/packages/*
atom/atom.symlink/.apm/*
git/github_token.zsh
homebrew/github_token.zsh
vim/vim.symlink/autoload/*
vim/vim.symlink/plugs/*
vim/vim.symlink/undo/*
vim/vim.symlink/tags
zsh/zsh.symlink/.zhistory
zsh/zsh.symlink/.zcompdump
zsh/zsh.symlink/.zcompdump.zwc
zsh/zsh.symlink/.zcompcache/*
zsh/zsh.symlink/.zprezto/*
