.DS_Store
*.log
.netrwhist
.tags
atom/storage/*
atom/packages/*
atom/compile-cache/*
atom/packages/*
atom/.apm/*
atom/atom/storage/*
atom/atom/blob-store/*
atom/atom/packages/*
atom/atom/compile-cache/*
atom/atom/packages/*
atom/atom/.apm/*
git/github_token.zsh
homebrew/github_token.zsh
neovim/nvim/autoload/*
neovim/nvim/plugs/*
neovim/nvim/undo/*
neovim/nvim/tags
zsh/zsh/.zhistory
zsh/zsh/.zcompdump
zsh/zsh/.zcompdump.zwc
zsh/zsh/.zcompcache/*
zsh/zsh/.zprezto/*
