extends javascript-react

priority -60

snippet rcfr "Functional component (no body)" b
const ${1:name} = ({${2:props}}) => (
  ${0:jsx}
)
endsnippet

snippet rcf "arrow function component" b
const ${1:name} = ({${2:props}}) => {
  ${0:jsx}
}
endsnippet
