{{ if eq .machine_type "work" -}}
{"credential":{"vault_id":"ktaafqfbfnwhfppf22vbdwsyza","item_id":"jgamx73rnfi766xvyitcnquf3q","account_id":"MQZRBHML3ZCG3D2CKWGCFMNHMQ"}}
{{ else -}}
{"credential":{"vault_id":"5vrcrhuyaum4mbt4v5t2fs7uxq","item_id":"b3uiss775osy7rvbibzundgnrm","account_id":"MQZRBHML3ZCG3D2CKWGCFMNHMQ"}}
{{ end -}}
