# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# Modifications for easy pane switching in vim mode
'.platform-darwin atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'

# Exit insert mode in vim-mode when autocomplete-plus is open
'.autocomplete-plus input.hidden-input':
  'escape': 'vim-mode:activate-command-mode'

# Vim-mode bindings for clipboard plus
'.platform-darwin atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-p': 'clipboard-plus:toggle'

# Toggle find panes
'.platform-darwin':
  'cmd-F': 'project-find:toggle'
  'cmd-f': 'find-and-replace:toggle'
