"Repl Term":
  title: "Repl Term"
  paths: [
    "/Users/Felix/Development/repl-term"
  ]
"Coding Interview Questions":
  title: "Coding Interview Questions"
  paths: [
    "/Users/Felix/Development/Coding Interview Questions"
  ]
"Introduction to Algorithms":
  title: "Introduction to Algorithms"
  paths: [
    "/Users/Felix/Development/MIT 6.046J:18.401J Introduction to Algorithms"
  ]
"ze-Dashboard":
  title: "ze-Dashboard"
  paths: [
    "/Users/felix/SumUp/dashboard/code/ze-dashboard/app"
  ]
"svginline-loader":
  title: "svginline-loader"
  paths: [
    "/Users/felix/SumUp/dashboard/code/svginline-loader"
  ]
