extends javascript

priority -60

snippet imp "import { ... } from ..." b
import ${1:\{ ${2:export} \}} from '${0:library}';
endsnippet

snippet impl "import * as ... from ..." b
import * as ${1:alias} from '${0:library}';
endsnippet

snippet funa "(args...) => expression"
(${1:args}) => ${0:expression}
endsnippet

snippet funae "(args...) => { expression }"
(${1:args}) => \{
	${0:expression}
\}
endsnippet
